@charset "UTF-8";

/* リセット開始(ブラウザのデフォルトをあてにしない) */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  margin-bottom: 6pt;
}

ol,ul,dl {
  list-style-position: inside;
}

/* リセット完了 */

/* 標準セレクタ開始 */

body {
  font: 10pt 'Trebuchet MS', Verdana, Helvetica, Arial, Meiryo, sans-serif;
  color: #444;
  background: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 800;
  color: #000;
}

/* 標準セレクタ終了 */

/* pieGauge */

.piegauge-layer text {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.piegauge-pointer-needle {
  fill: #330099;
  stroke: #33ccff;
}

.piegauge-pointer-label {
  font-size: 14px;
  fill: #330099;
}

.piegauge-tick-layer text {
  font-size: 14px;
  text-anchor: middle;
  fill: #666;
}

.piegauge-title-text {
  font-size: 16px;
}

/* rectGauge */

.rectgauge-layer text {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rectgauge-pointer-layer {
  fill: #330099;
  stroke: none;
}

.rectgauge-pointer-label {
  font-size: 14px;
  fill: #330099;
}

.rectgauge-tick-layer text {
  font-size: 14px;
  fill: #666;
}

.rectgauge-title-text {
  font-size: 16px;
}


/* vrectGauge */

.vrectgauge-layer text {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vrectgauge-pointer-layer {
  fill: #330099;
  stroke: none;
}

.vrectgauge-pointer-label {
  font-size: 14px;
  fill: #330099;
}

.vrectgauge-tick-layer text {
  font-size: 14px;
  fill: #666;
}

.vrectgauge-title-text {
  font-size: 16px;
}
